---
layout: archive
author_profile: true
header:
  image: autorally_platform_header.jpg


github:
  - excerpt: '{::nomarkdown}<iframe style="display: inline-block;" src="https://ghbtns.com/github-btn.html?user=mmistakes&repo=minimal-mistakes&type=star&count=true&size=large" frameborder="0" scrolling="0" width="160px" height="30px"></iframe> <iframe style="display: inline-block;" src="https://ghbtns.com/github-btn.html?user=mmistakes&repo=minimal-mistakes&type=fork&count=true&size=large" frameborder="0" scrolling="0" width="158px" height="30px"></iframe>{:/nomarkdown}'
---

{% include base_path %}




<h4>The AutoRally platform is a high-performance testbed for advanced perception and control research. The robot, developed at Georgia Tech, is integrated with <a href="http://www.ros.org/">ROS</a> and designed as a self contained system that requires no external sensing or computing. The robot is a robust, cost-effective, and safe platform that opens the space of agressive autonomous off-road driving to all researchers.
</h4>

<h4>
Build instructions for the chassis and compute box, complete parts list, CAD models, core software, simulation environment, and opertating procedures are being released publicly over the next couple months. If you are interested in the platform, check out the documentation, download and test the simulation, and let us know if you have any questions.
</h4>

<h2 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts }}</h2>

{% for post in paginator.posts paginate:8 %}
  {% include archive-single.html type="grid" %}
{% endfor %}

{% include paginator.html %}