---
layout: archive
author_profile: true
header:
  image: autorally_platform_header.jpg
---

{% include base_path %}

<h3 class="archive__subtitle">Project Overview</h3>

<h4>The AutoRally platform is a high-performance testbed for advanced perception and control research developed at Georgia Tech.</h4>

<iframe style="display: inline-block;" src="https://ghbtns.com/github-btn.html?user=AutoRally&repo=autorally&type=star&count=true&size=large" frameborder="0" scrolling="0" width="160px" height="30px">


<h3 class="archive__subtitle">Recent Posts</h3>


{% for post in paginator.posts %}
  {% include archive-single.html %}
{% endfor %}

{% include paginator.html %}
