---
layout: archive
author_profile: true
header:
  image: autorally_platform_header.jpg
---

{% include base_path %}

<h3 class="archive__subtitle">Project Overview</h3>

<h4>The AutoRally platform is a high-performance testbed for advanced perception and control research developed at Georgia Tech. It is as self-contained system with no need for external sensing or computing. The robot allows researchers to operate in a space typically open only to large groups with significant capital.</h4>

<h3 class="archive__subtitle">Recent Posts</h3>


{% for post in paginator.posts %}
  {% include archive-single.html %}
{% endfor %}

{% include paginator.html %}
